<p>{{Students[0]}}</p>
<p>{{Students[1]}}</p>

<form>
    
    <div>
        <p>{{numbers[0]}}</p>
        <p>{{numbers[1]}}</p>
        <p>{{numbers[2]}}</p>
    </div>
    <br>
    <div>
        <button (click)="sortnumbers()">Sort Numbers</button>
    </div>
</form>

<p>{{fruits[0]}}</p>
<p>{{fruits[1]}}</p>
<p>{{fruits[2]}}</p>
<br>
<button (click)="removeFruit('Apple')">Remove Apple</button>
<button (click)="removeFruit('Banana')">Remove Banana</button>
<button (click)="removeFruit('Orange')">Remove Orange</button>

